.container{
width: 100%;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
}
.form{
    background-color: var(--bgSoft);
    padding: 50px;
    border-radius: 10px;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}
.form input{
    padding: 30px;
    border: 2ox solid #2e374a;
    border-radius: 5px;
    background-color: var(--bg);
    color: var(--text);
}